<title><%= item.name %></title>
<div class="item">
    <div class="card">
      <h1><%= item.name %></h1>
      <p><%= item.description %></p>
      <p>Stock: <%= item.stock %></p>
      <p>Price: <%= item.price %>$</p>
    </div>
</div>
